{% extends "base.html" %}
{% block content %}

<h2>Patients List</h2>
<a href="{{ url_for('add_patient') }}" class="btn">+ Add New Patient</a>
<table>
  <tr>
    <th>Patient Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Blood Type</th>
    <th>Height (cm)</th>
    <th>Weight (kg)</th>
    <th>Action</th>
  </tr>
  {% for p in patients %}
  <tr>
    <td>{{ p.Patient_Number }}</td>
    <td>{{ p.First_Name }} {{ p.Last_Name }}</td>
    <td>{{ p.Email }}</td>
    <td>{{ p.Phone_Number }}</td>
    <td>{{ p.Age }}</td>
    <td>{{ p.Sex }}</td>
    <td>{{ p.Blood_Type }}</td>
    <td>{{ p.Height }}</td>
    <td>{{ p.Weight }}</td>
    <td><a href="{{ url_for('patient_record', patient_id=p.Patient_Number) }}">View Records</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}